* {
    padding: 0;
    padding: 0;
}

@font-face {
    font-family:'B Nazanin';
    src:url(../fonts/B-NAZANIN.TTF);
    font-size:16px;
}

@font-face{
    font-family:'Vazir';
    src:url(../fonts/Vazir.ttf);
    font-size:16px;
}

body {
    font-family:Vazir;
    background-color: aliceblue;
}

.right-navbar {
    text-align:right;
    font-family:'B Nazanin';
    font-weight:bold;
    padding-top:5rem;
    margin: 0 !important;
    width: 200px;
    height: 100vh;
    background-color: #233248;
}

.user-info{
   text-align:center;
   margin-bottom:1rem;
}

.user-info i:hover{
    cursor:pointer; 
    color:red;
    transition:color .5s ease;
}

.user-info img{
    width:100px;
    border-radius:10%;
}
.user-info p{
    margin-top:.5rem;
    font-size:14px;
    color:white;
}

.user-info a{
    margin:.4rem;
    padding:.3rem;
    color:white !important;
    border-radius:10%;
}



.right-navbar ul {
    margin-top:4rem !important;
    padding: 0 !important;
}


.right-navbar ul li {
    padding: .7rem;
    margin-bottom: 1rem;
}

.right-navbar ul li a {
    text-decoration: none;
    color: white;
}

.right-navbar ul li a i {
    margin-left:1rem;
}

.right-navbar ul li:hover {
    background-color: #5a6e95;
    -o-transition: background-color .4s ease;
    -webkit-transition: background-color .4s ease;
    -moz-transition: background-color .4s ease;
    transition: background-color .4s ease;
}

@media only screen and (max-width:800px) {
    .right-navbar {
        width: 100vh;
        height: auto;
        padding: 1rem;
    }

    .user-info img{
        display:none;
    }
}
